.tasks {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.tasks__content--done {
   text-decoration: line-through;
}

.tasks__item {
   display: grid;
   grid-template-columns: auto 1fr auto;
   gap: 10px;
   align-items: center;
   border-bottom: 1px solid #ddd;
   margin: 0px 0px 10px 0;
   padding: 5px;
}

.tasks__item--hidden {
   display: none;
}